@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
/*
tc font-family: "Roboto Slab", serif, 
en font-family: "Albert Sans", sans-serif;
*/
:root {
  --main: #FFCB00;
  --secd: hsla(170, 19%, 62%, 1);
}
body, h2, input, textarea, button, .project article h2{font-family: "Albert Sans", "Roboto Slab", sans-serif;}
body{
    background: #F6F4F4;
}
/*section{outline:1px solid #999;}*/
.container, header, section, .hero, .service_title, .service_contant, .service_contant, .help, .help div, .help_content,.partner>div, .brand div, .contact, .category, .whyus, .project{
    display: flex;
    flex-direction: column;
}
.container, .contact, footer{
    align-content: flex-end;
    align-items: flex-end;
}
header, .hero, .service_title, .service_contant, .help, .work, .brand div, .contact, .category{
    flex-direction: row;
}
header{
    height: 72px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
header img{
    width: 111px;
    height: 33px;
    padding-left: 8px;
}
section{
    width: 1300px;
    height: 100vh;
}
h1, h2, h3{ text-transform: uppercase;}
h2{ font-size: 40px; font-weight: 900; line-height: 48px; letter-spacing: 5px;}
h2 span{color: var(--main, #222);}
p, .support h3, label{font-size: 18px;line-height: 24px;}
label, input{line-height: 32px;}
input, textarea, button{line-height: 48px;font-size: 32px;border:0;}
input, textarea{color:hsla(170, 19%, 62%, 1);border-bottom:1px solid #222;background: var(--main, #fff);padding-left: 8px;margin-bottom: 16px;}
button{font-weight: 700;font-size: 18px;line-height: 40px;background: var(--secd);}
input:focus, textarea{outline: 0}
input[type="radio"]{width: auto;line-height: 48px;margin-left: 12px;}
.container,header, footer, .contact{width: 1420px;}
.hero h1, .service_title p,.brand div{font-size: 24px;}
.hero{justify-content: flex-start;align-items: center;}
.hero h2{margin-bottom: 3vh;}
.service_title{margin-top: 132px;margin-bottom: 48px;}
.service_title, .service_contant div{justify-content: space-between;}
.service_title div{width: 50%;position: relative;}
.service_title div::before{content: "";border-left: 8px solid var(--main, #222);height: 170px; display: block;padding-right: 8px;position: absolute;top: 10px;left: -16px;}
.service_title p{margin-top: 16px;}
.service_contant {justify-content: space-between;}
.service_contant div{width: 216px;justify-content: space-between;}
.service_contant h3{font-size: 24px;margin-bottom: 30px;}
.service_contant span{
color: #FFCB00;
 font-size: 32px;
 font-family: Albert Sans;
 font-weight: 800;
 line-height: 24px;position: relative;top: 2px;padding-right: 16px;}
.container{
    background: url(../image/bg01.svg) no-repeat 0 1850px;
}
.help{
    justify-content: space-between;
    
}
.help img{
    width: 578px;
    height: 312px;
    margin-left: 8px;
}
.help img,.help>div{margin-top: 19.4vh;
    
}
.help_content{
    writing-mode: vertical-rl;
    height: 200px;
    margin-top: 64px;
    letter-spacing: 3px;
}
.help_content h3{
    font-size: 30px;
    padding: 0 16px;    
}
.help_content p{
  line-height: 1.5;
  padding-left: 20px;
}
.support{position: relative;}
.support h2, .support div{position: absolute;}
.support h2{ left: calc(50vw - 300px);top: calc(50vh - 16px);}
.impo{position: relative;left: -16px;}
.impo::before{content: "";border-left: 8px solid var(--main, #222);height: 15px; display: inline-block;padding-right: 8px;}
.support div:nth-child(1){top: 20vh;left: 18vw;}
.support div:nth-child(2){top: 10vh ;left: 40vw;}
.support div:nth-child(3){top: 20vh ;left: 62vw;}
.support div:nth-child(4){bottom: 20vh;left: 18vw;}
.support div:nth-child(5){bottom: 10vh;left: 40vw;}
.support div:nth-child(6){bottom: 20vh;left: 62vw;}
.support p{width: 128px;}

.partner>div{flex-direction: row;justify-content: space-between;align-items: center;margin-top: 40px;}
.partner h2{margin-top: 20vh;}
.partner .impo{left: 0;}

.work{flex-wrap: wrap;}
.work h2{width: 100%;margin-bottom: 24px;}
.work img{width: 580px;}
.work>div:nth-child(odd){padding-left: 140px;}
.project{
    position: relative;
    background: var(--main) url(../image/bg01.svg) no-repeat 0 25vh;
    align-items: center;
    justify-content: center;
}
.project article{
display: flex;
flex-direction: row;
}
.project img{padding-right: 16px;}
.project article h2{font-size: 24px;
font-weight: 500;
line-height: 48px;}
.project article li{
    font-size: 18px;
    font-family: Roboto Serif;
    font-weight: 400;
    line-height: 24px;
}
.project button{
    position: absolute;
    top: 100px;
    right: 32px;
    cursor: pointer;
    background: none;
    border:0;
    font-size: 188px;
    font-weight: 600;
    transform: rotate(29deg);
}
.brand div{width: 100%;justify-content: space-between;align-items: center;margin-top: 16px;margin-bottom: 24px;}
.brand button{border:0;width: 40px;text-indent: -110px;cursor: pointer; height: 40px;overflow: hidden; background: #F6F4F4 url(../image/plus.svg);}

.whyus{align-items: center;align-content: center;}
.whyus h2{margin-top: 30vh;}
.whyus h3{font-size: 32px;line-height: 48px;letter-spacing: 3.20px;color: var(--main, #222)}
.whyus h3+h3{font-size: 24px;color: #222;margin-bottom: 3em;}
.whyus p{width: 40%;text-align: center;}






.contact{
    width: 1420px;
    background: var(--main, #222);
    padding-top: 10vh;
    align-items: flex-start;
}
.contact h2, .contact div{width: 710px;}
.contact h2{text-align: right;margin-right: 1em;}
.contact label{width: 100px;display: block;}
.contact input, .contact textarea{width: 30vw;}
.contact input[type="radio"]{width: auto;}
.contact button{position: relative;left: 210px;padding: 0 32px;}
.category {flex-wrap: wrap;}
.category label:nth-child(1){width: 100%;}
footer{
    background: #222;
    color: #f2f2f2;
}
footer p{font-family: "Albert Sans", sans-serif; padding-left: 1em;line-height: 1.612;}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 套用動畫到圖片的 CSS 類別 */
.rotating-image {
    position: absolute;
    left: calc(50vw - 200px);
    top: calc(50vh - 98px);
    width: 208px;
  animation-name: rotate360;
  animation-duration: 2s; /* 完成一圈旋轉需要 5 秒 */
  animation-timing-function: cubic-bezier(0, -0.3, 1, .3); /* 線性速度，讓旋轉速度保持一致 */
  animation-iteration-count: infinite;  無限循環 
}

@keyframes zoomWindow{
    0%{
        width: 0vw;
        height: 0vh;
    }
    100%{
        width: 100vw;
        height: 100vh;
    }
}

@keyframes rotateX{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(399deg);
    }
}

.project_on{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
/*    background-color: var(--main,#f2f2f2);*/
    
    animation-name: zoomWindow;
    animation-duration: .3s; 
    animation-timing-function: cubic-bezier(0, -0.3, 1, .3); 
    animation-fill-mode: forwards;
    z-index: 8;
}
.project_on button{
    color:var(--secd);
    animation-name: rotateX;
    animation-duration: .8s; 
    animation-timing-function: cubic-bezier(0, -0.3, 1, .3); 
/*    animation-iteration-count: 1;*/
    animation-fill-mode: forwards;
}
