table{
  width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #242424;
  border-left: 1px solid #242424;
}
caption, th, td{
  font-size: 18px;
  line-height: 32px;
}
th, td{
  padding-left: 8px;
  border-right: 1px solid #242424;
  border-bottom: 1px solid #242424;
}
form> table, form th, form td{
    border: 0;
}
input{
    width: 100%;
    line-height: 32px;
}