.container{width: 60em;margin: 0 auto;}
li{list-style: none;}
li li{list-style: disc;line-height: 1.5em;}
pre {
    background: none repeat scroll 0 0 #212121;
    border-left: 5px solid #DDDDDD;
    color: white;
    font: 1em/1.48 Monaco,MonoSpace;
    padding: 1em;
}
em {
    color: #999999;
    font-size: 0.6em;
    font-style: normal;
    padding-left: 1em;
}
.mybox {
    -moz-box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    width: 400px;
}
.selected * a {
    color: red;
}
The interest rate on federal student loans doubled to 